body {
    margin: 0;
    background-color: 1C1C1C;
    font-family: "karla";
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 50px;
    min-width: 430px;
    max-width: 430px;
    height: 50vh;
    margin: 10px;
    border-radius: 6px;
}

h1{
    color: white;
    font-family: "karla";
    font-weight: 800;
    margin-bottom: 0px;
}
h1 span{
    color: #4ADF86;
}
p{
    color: #D5D4D8;
    padding:0px;
    margin: 0px;
}
#pass-gen-btn{
    color:white;
    background-color: #4ADF86;
    padding:10px;
    border: none;
    border-radius: 6px;
    width: 150px;
    margin: 40px 0px;
}
#input-fields input{
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #273549;
    margin-top: 20px;
    color: #4ADF86;

}

hr{
    border:1px solid #273549;
}
footer{
    margin: 20px 0px;
    color: white;

}
